@use "../../styles/variables" as *;

.dashboard-page {
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-width: 0;
  font-family: $dashboard-font-family;

  .stats-cards-container {
    display: flex;
    gap: 20px;
  }

  h1 {
    color: $primary-color;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
  }
}

@media screen and (max-width: 768px) {
  .dashboard-page {
    .stats-cards-container {
      flex-direction: column;
      gap: 20px;
    }
  }
}
