$primary-color: #213f7d;
$secondary-color: #39cdcc;
$text-color: #545f7d;
$background-color: #ffffff;

$font-family: "Avenir Next", Avenir, "Nunito Sans", "Segoe UI", Helvetica, Arial, sans-serif;
$dashboard-font-family: "Work Sans", "Avenir Next", Avenir, "Nunito Sans", "Segoe UI", Helvetica, Arial, sans-serif;
